.star-rating {
    display      : block;
    overflow     : hidden;
    margin-bottom: map-get($spacers, "3");
    position     : relative;
    height       : 1em;
    line-height  : 1;
    font-size    : 1em;
    width        : 5.4em;
    font-family  : 'FontAwesome';

    &:before {
        content : "\f006\f006\f006\f006\f006";
        color   : darken(map-get($colors, "yellow"), 10%);
        float   : left;
        top     : 0;
        left    : 0;
        position: absolute;
    }

    span {
        overflow   : hidden;
        float      : left;
        top        : 0;
        left       : 0;
        position   : absolute;
        padding-top: 1.5em;
        color      : $yellow;
    }

    span:before {
        content : "\f005\f005\f005\f005\f005";
        top     : 0;
        position: absolute;
        left    : 0;
    }
}
